In [1]:
import pandas as pd

In [3]:
click_log_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/train_preliminary/click_log.csv')

In [4]:
ad_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/train_preliminary/ad.csv')

In [5]:
user_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/train_preliminary/user.csv')

In [6]:
test_click_log_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/test/click_log.csv')

In [7]:
test_ad_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/test/ad.csv')

In [8]:
merge_train_df = pd.merge(click_log_df, ad_df, how='left', on=['creative_id'])

In [9]:
merge_test_df = pd.merge(test_click_log_df, test_ad_df, how='left', on=['creative_id'])

In [10]:
merge_train_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,\N,18,14682,88

In [11]:
merge_test_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,20,3131989,645764,1,573314,58,2,14689,6
1,20,3131989,1027422,1,902764,129,2,42272,6
2,20,3131989,1106443,1,970829,2171,2,37513,322
3,20,3131989,629802,1,559183,\N,18,14678,26
4,59,3131989,2839769,1,2441288,129,2,35328,6

In [12]:
merge_train_df.to_csv('/DATA/zhouyongyu/taac/dataset/merge_train_df.csv',index=0)

In [13]:
merge_test_df.to_csv('/DATA/zhouyongyu/taac/dataset/merge_test_df.csv',index=0)

In [14]:
merge_train_df = merge_train_df.sort_values(by='time')

In [15]:
merge_test_df = merge_test_df.sort_values(by='time')

In [41]:
def hh_creative_id(q):
#     print(q)
#     print(q['creative_id'])
#     print(list(q))
    id = list(q['creative_id'])
    click_times = list(q['click_times'])
#     print([str(item) + ":" + str(click_times[index]) for index,item in enumerate(id)])
    return [str(item) + ":" + str(click_times[index]) for index,item in enumerate(id)]

def hh_creative_id(q):
#     print(q)
#     print(q['creative_id'])
#     print(list(q))
    id = list(q['creative_id'])
    click_times = list(q['click_times'])
#     print([str(item) + ":" + str(click_times[index]) for index,item in enumerate(id)])
    return [str(item) + ":" + str(click_times[index]) for index,item in enumerate(id)]

In [42]:
train_creative_seq = merge_train_df[].groupby('user_id')['creative_id','click_times'].apply(hh_creative_id).reset_index()

/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [43]:
train_creative_seq.head()

   user_id                                                  0
0        1  [877468:1, 821396:1, 209778:1, 1683713:1, 1220...
1        2  [63441:1, 155822:1, 39714:1, 609050:1, 13069:1...
2        3  [661347:1, 808612:1, 710859:1, 825434:1, 59352...
3        4  [39588:1, 589886:1, 574787:1, 1892854:1, 31070...
4        5  [296145:1, 350759:1, 24333:1, 43235:1, 852327:...

# 生成各种list

In [1]:
import pandas as pd

In [2]:
merge_train_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/merge_train_df.csv')

In [3]:
merge_test_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/merge_test_df.csv')

In [4]:
merge_train_df = merge_train_df.sort_values(by='time')

In [5]:
merge_test_df = merge_test_df.sort_values(by='time')

In [6]:
merge_train_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
15929052,1,358946,216469,1,194447,8826,3,30464,\N
6359562,1,652708,53492,1,49831,26858,3,29963,60
25376823,1,866186,220806,1,198186,\N,12,18103,6
25376817,1,866186,63440,1,58787,87,2,22885,318
21756044,1,672438,20857,1,21792,\N,18,22918,319

In [7]:
merge_test_df.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
12849660,1,3892830,112276,1,101587,\N,18,8371,54
23535382,1,3530749,14391,1,15775,1261,2,10988,6
9820227,1,3711528,208390,1,187259,1261,2,10925,6
9820228,1,3711528,236102,1,212289,1261,2,19056,98
31351701,1,3998628,90699,1,82895,\N,18,10955,238

## creative_id

In [68]:
train_creative_seq = pd.read_csv('/DATA/zhouyongyu/taac/user_creative_seq.csv')

In [69]:
test_creative_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_creative_seq.csv')

## click_times

In [9]:
train_times_seq = merge_train_df.groupby('user_id')['click_times'].apply(list).reset_index()

In [10]:
test_times_seq = merge_test_df.groupby('user_id')['click_times'].apply(list).reset_index()

In [11]:
train_times_seq.head()

   user_id                                        click_times
0        1            [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]
1        2  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2        3  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3        4  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4        5  [1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

In [12]:
test_times_seq.head()

   user_id                                        click_times
0  3000001                  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1  3000002  [1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...
2  3000003  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3  3000004  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4  3000005  [1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...

In [13]:
train_times_seq.to_csv('/DATA/zhouyongyu/taac/train_times_seq.csv',index=0)

In [14]:
test_times_seq.to_csv('/DATA/zhouyongyu/taac/test_times_seq.csv',index=0)

## product_id

In [15]:
train_product_seq = merge_train_df.groupby('user_id')['product_id'].apply(list).reset_index()

In [16]:
test_product_seq = merge_test_df.groupby('user_id')['product_id'].apply(list).reset_index()

In [17]:
train_product_seq.head()

   user_id                                         product_id
0        1  [\N, \N, 136, \N, 1334, \N, \N, \N, \N, 64, 14...
1        2  [87, 80, 129, 129, 1400, \N, 87, \N, 1261, \N,...
2        3  [36256, 40905, 1674, 35985, 1674, \N, \N, 1031...
3        4  [1862, \N, 2625, 38743, 39422, 41265, 39904, 3...
4        5  [\N, \N, 87, 136, \N, 136, \N, \N, \N, 1064, \...

In [18]:
test_product_seq.head()

   user_id                                         product_id
0  3000001  [\N, 1701, 1794, 8938, \N, 27031, 8593, \N, \N...
1  3000002  [1674, \N, 140, 1687, 1377, 1377, 143, 87, 140...
2  3000003  [82, 82, \N, 2065, 34504, \N, \N, 1447, 129, \...
3  3000004  [1036, \N, \N, 1323, 1268, 1036, \N, 1268, 240...
4  3000005  [1896, 1987, 129, \N, \N, 1538, 23, 1567, 1567...

In [19]:
train_product_seq.to_csv('/DATA/zhouyongyu/taac/train_product_seq.csv',index=0)

In [20]:
test_product_seq.to_csv('/DATA/zhouyongyu/taac/test_product_seq.csv',index=0)

## ad_id

In [11]:
train_ad_seq = merge_train_df.groupby('user_id')['ad_id'].apply(list).reset_index()

In [12]:
test_ad_seq = merge_test_df.groupby('user_id')['ad_id'].apply(list).reset_index()

In [14]:
train_ad_seq.head()

   user_id                                              ad_id
0        1  [773445, 724607, 188507, 1458878, 109959, 6621...
1        2  [58788, 139702, 38066, 541125, 14495, 1107111,...
2        3  [586668, 713448, 629278, 728308, 527601, 64310...
3        4  [37966, 524312, 511235, 1638619, 30773, 169820...
4        5  [265971, 314795, 24966, 41148, 751113, 925792,...

In [23]:
test_ad_seq.head()

   user_id                                              ad_id
0  3000001  [315858, 589862, 93662, 527764, 1312021, 14823...
1  3000002  [136730, 136259, 14271, 158762, 67139, 59874, ...
2  3000003  [145199, 67477, 104623, 35431, 331464, 134931,...
3  3000004  [98506, 748945, 601456, 11324, 140916, 85594, ...
4  3000005  [111593, 164114, 38229, 27193, 65782, 233585, ...

In [15]:
train_ad_seq.to_csv('/DATA/zhouyongyu/taac/train_ad_seq.csv',index=0)

In [16]:
test_ad_seq.to_csv('/DATA/zhouyongyu/taac/test_ad_seq.csv',index=0)

## advertiser_id

In [17]:
train_advertiser_seq = merge_train_df.groupby('user_id')['advertiser_id'].apply(list).reset_index()
test_advertiser_seq = merge_test_df.groupby('user_id')['advertiser_id'].apply(list).reset_index()

In [20]:
train_advertiser_seq.head()

   user_id                                      advertiser_id
0        1  [29455, 7293, 9702, 14668, 11411, 14681, 17189...
1        2  [22885, 10686, 18562, 25932, 768, 34505, 22885...
2        3  [32974, 9877, 18492, 14186, 17018, 9058, 8371,...
3        4  [19451, 7976, 13084, 12130, 13299, 23664, 1017...
4        5  [11882, 992, 22885, 9706, 38760, 2862, 17745, ...

In [24]:
test_advertiser_seq.head()

   user_id                                      advertiser_id
0  3000001  [7579, 7000, 13084, 9950, 39179, 32735, 17963,...
1  3000002  [12993, 27800, 10690, 24661, 10334, 10334, 132...
2  3000003  [22367, 22367, 25260, 22338, 40491, 18479, 146...
3  3000004  [8520, 28323, 2286, 818, 2302, 8520, 8371, 230...
4  3000005  [30710, 29243, 23746, 22388, 6763, 21001, 2654...

In [27]:
train_advertiser_seq.to_csv('/DATA/zhouyongyu/taac/train_advertiser_seq.csv',index=0)
test_advertiser_seq.to_csv('/DATA/zhouyongyu/taac/test_advertiser_seq.csv',index=0)

## industry

In [18]:
train_industry_seq = merge_train_df.groupby('user_id')['industry'].apply(list).reset_index()
test_industry_seq = merge_test_df.groupby('user_id')['industry'].apply(list).reset_index()

In [21]:
train_industry_seq.head()

   user_id                                           industry
0        1  [106, 326, 6, 326, \N, 326, 73, 217, 64, 245, ...
1        2  [318, 238, 6, 6, 317, 47, 318, 47, 6, 47, 242,...
2        3  [\N, \N, 322, \N, 322, 6, 54, 6, 322, 322, 205...
3        4  [238, 25, 248, \N, \N, \N, \N, \N, 88, 319, 23...
4        5  [297, \N, 318, 6, 322, 6, 288, 322, 319, 238, ...

In [25]:
test_industry_seq.head()

   user_id                                           industry
0  3000001  [322, 247, 248, 247, 322, 317, 322, 322, 322, ...
1  3000002  [322, 24, 317, 5, 5, 5, 317, 318, 317, 5, 328,...
2  3000003  [319, 319, 47, 238, 202, 25, 326, 238, 6, 146,...
3  3000004  [319, 40, 54, 319, 5, 319, 54, 5, 246, 47, 47,...
4  3000005  [238, 26, 6, 25, 28, 6, 319, 6, 6, 74, 25, 247...

In [28]:
train_industry_seq.to_csv('/DATA/zhouyongyu/taac/train_industry_seq.csv',index=0)
test_industry_seq.to_csv('/DATA/zhouyongyu/taac/test_industry_seq.csv',index=0)

## product_category

In [19]:
train_category_seq = merge_train_df.groupby('user_id')['product_category'].apply(list).reset_index()
test_category_seq = merge_test_df.groupby('user_id')['product_category'].apply(list).reset_index()

In [22]:
train_category_seq.head()

   user_id                                   product_category
0        1          [5, 5, 2, 5, 2, 18, 5, 5, 18, 2, 2, 2, 2]
1        2  [2, 2, 2, 2, 2, 18, 2, 18, 2, 18, 2, 18, 2, 18...
2        3  [17, 17, 2, 17, 2, 18, 18, 2, 2, 2, 18, 12, 2,...
3        4  [2, 18, 2, 17, 17, 17, 17, 4, 18, 2, 2, 2, 2, ...
4        5  [5, 8, 2, 2, 18, 2, 5, 18, 18, 2, 18, 2, 5, 5,...

In [26]:
test_category_seq.head()

   user_id                                   product_category
0  3000001             [18, 2, 2, 3, 18, 3, 3, 18, 18, 5, 18]
1  3000002  [2, 18, 2, 2, 2, 2, 2, 2, 2, 2, 8, 2, 5, 8, 2,...
2  3000003  [2, 2, 18, 2, 5, 18, 18, 2, 2, 5, 18, 18, 2, 1...
3  3000004  [2, 18, 18, 2, 2, 2, 18, 2, 2, 18, 18, 2, 2, 5...
4  3000005  [2, 2, 2, 18, 18, 2, 2, 2, 2, 18, 18, 2, 2, 2,...

In [29]:
train_category_seq.to_csv('/DATA/zhouyongyu/taac/train_category_seq.csv',index=0)
test_category_seq.to_csv('/DATA/zhouyongyu/taac/test_category_seq.csv',index=0)

# 生成各种dict

## creative_id

In [76]:
import pickle
fp = open("item_dict.txt", "rb+")
creative_dict = pickle.load(fp)

## click_times

In [21]:
from tqdm import tqdm

times_count = 1
times_dict = dict()
times_dict[-1] = 0
for index, row in tqdm(train_times_seq.iterrows()):
    times_seq = row['click_times']
    if len(times_seq) >= 89:
        times_seq = times_seq[-89:]
    for times in times_seq:
        if times not in times_dict:
            times_dict[times] = times_count
            times_count += 1

900000it [01:53, 7940.84it/s]

In [22]:
for index, row in tqdm(test_times_seq.iterrows()):
    times_seq = row['click_times']
    if len(times_seq) >= 89:
        times_seq = times_seq[-89:]
    for times in times_seq:
        if times not in times_dict:
            times_dict[times] = times_count
            times_count += 1

1000000it [02:02, 8153.68it/s]

In [23]:
import pickle

pickle.dump(times_dict, open('/DATA/zhouyongyu/taac/times_dict.txt', 'wb'))

## product_id

In [24]:
from tqdm import tqdm

product_count = 1
product_dict = dict()
product_dict[-1] = 0
for index, row in tqdm(train_product_seq.iterrows()):
    product_seq = row['product_id']
    if len(product_seq) >= 89:
        product_seq = product_seq[-89:]
    for product in product_seq:
        if product not in product_dict:
            product_dict[product] = product_count
            product_count += 1

900000it [01:52, 8020.90it/s]

In [25]:
for index, row in tqdm(test_product_seq.iterrows()):
    product_seq = row['product_id']
    if len(product_seq) >= 89:
        product_seq = product_seq[-89:]
    for product in product_seq:
        if product not in product_dict:
            product_dict[product] = product_count
            product_count += 1

1000000it [02:05, 7978.50it/s]

In [26]:
import pickle

pickle.dump(product_dict, open('/DATA/zhouyongyu/taac/product_dict.txt', 'wb'))

## ad_id

In [32]:
from tqdm import tqdm

ad_count = 1
ad_dict = dict()
ad_dict[-1] = 0
for index, row in tqdm(train_ad_seq.iterrows()):
    ad_seq = row['ad_id']
    if len(ad_seq) >= 89:
        ad_seq = ad_seq[-89:]
    for ad in ad_seq:
        if ad not in ad_dict:
            ad_dict[ad] = ad_count
            ad_count += 1

900000it [02:14, 6684.71it/s]

In [33]:
for index, row in tqdm(test_ad_seq.iterrows()):
    ad_seq = row['ad_id']
    if len(ad_seq) >= 89:
        ad_seq = ad_seq[-89:]
    for ad in ad_seq:
        if ad not in ad_dict:
            ad_dict[ad] = ad_count
            ad_count += 1

1000000it [02:28, 6720.17it/s]

In [56]:
import pickle

pickle.dump(ad_dict, open('/DATA/zhouyongyu/taac/ad_dict.txt', 'wb'))

## advertiser_id

In [34]:
from tqdm import tqdm

advertiser_count = 1
advertiser_dict = dict()
advertiser_dict[-1] = 0
for index, row in tqdm(train_advertiser_seq.iterrows()):
    advertiser_seq = row['advertiser_id']
    if len(advertiser_seq) >= 89:
        advertiser_seq = advertiser_seq[-89:]
    for advertiser in advertiser_seq:
        if advertiser not in advertiser_dict:
            advertiser_dict[advertiser] = advertiser_count
            advertiser_count += 1

900000it [02:05, 7180.21it/s]

In [35]:
for index, row in tqdm(test_advertiser_seq.iterrows()):
    advertiser_seq = row['advertiser_id']
    if len(advertiser_seq) >= 89:
        advertiser_seq = advertiser_seq[-89:]
    for advertiser in advertiser_seq:
        if advertiser not in advertiser_dict:
            advertiser_dict[advertiser] = advertiser_count
            advertiser_count += 1

1000000it [02:19, 7154.55it/s]

In [57]:
import pickle

pickle.dump(advertiser_dict, open('/DATA/zhouyongyu/taac/advertiser_dict.txt', 'wb'))

## industry

In [27]:
train_industry_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_industry_seq.csv')
test_industry_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_industry_seq.csv')

In [33]:
from tqdm import tqdm
from ast import literal_eval

industry_count = 1
industry_dict = dict()
industry_dict[-1] = 0
for index, row in tqdm(train_industry_seq.iterrows()):
    industry_seq = row['industry']
    industry_seq = literal_eval(industry_seq)
    if len(industry_seq) >= 89:
        industry_seq = industry_seq[-89:]
    for industry in industry_seq:
        if industry not in industry_dict:
            industry_dict[industry] = industry_count
            industry_count += 1

900000it [02:58, 5049.10it/s]

In [34]:
for index, row in tqdm(test_industry_seq.iterrows()):
    industry_seq = row['industry']
    industry_seq = literal_eval(industry_seq)
    if len(industry_seq) >= 89:
        industry_seq = industry_seq[-89:]
    for industry in industry_seq:
        if industry not in industry_dict:
            industry_dict[industry] = industry_count
            industry_count += 1

1000000it [03:18, 5036.64it/s]

In [35]:
print(industry_dict)

{-1: 0, '106': 1, '326': 2, '6': 3, '\\N': 4, '73': 5, '217': 6, '64': 7, '245': 8, '238': 9, '318': 10, '317': 11, '47': 12, '242': 13, '5': 14, '36': 15, '319': 16, '322': 17, '289': 18, '21': 19, '207': 20, '250': 21, '328': 22, '54': 23, '205': 24, '302': 25, '247': 26, '25': 27, '248': 28, '88': 29, '295': 30, '297': 31, '288': 32, '203': 33, '220': 34, '296': 35, '109': 36, '28': 37, '8': 38, '183': 39, '9': 40, '13': 41, '293': 42, '60': 43, '221': 44, '1': 45, '241': 46, '86': 47, '230': 48, '246': 49, '134': 50, '192': 51, '292': 52, '202': 53, '329': 54, '158': 55, '231': 56, '291': 57, '26': 58, '29': 59, '149': 60, '74': 61, '24': 62, '253': 63, '259': 64, '147': 65, '232': 66, '3': 67, '294': 68, '82': 69, '104': 70, '159': 71, '58': 72, '89': 73, '116': 74, '108': 75, '215': 76, '234': 77, '99': 78, '271': 79, '40': 80, '161': 81, '261': 82, '320': 83, '125': 84, '254': 85, '27': 86, '200': 87, '179': 88, '236': 89, '2': 90, '233': 91, '57': 92, '107': 93, '61': 94, '300': 95, '35': 96, '87': 97, '167': 98, '133': 99, '235': 100, '252': 101, '188': 102, '4': 103, '277': 104, '216': 105, '171': 106, '124': 107, '168': 108, '219': 109, '201': 110, '240': 111, '34': 112, '249': 113, '175': 114, '173': 115, '321': 116, '23': 117, '174': 118, '164': 119, '172': 120, '113': 121, '176': 122, '148': 123, '333': 124, '154': 125, '209': 126, '155': 127, '262': 128, '311': 129, '204': 130, '165': 131, '72': 132, '222': 133, '218': 134, '223': 135, '260': 136, '138': 137, '130': 138, '257': 139, '256': 140, '334': 141, '298': 142, '85': 143, '81': 144, '182': 145, '111': 146, '126': 147, '255': 148, '45': 149, '53': 150, '323': 151, '112': 152, '55': 153, '46': 154, '206': 155, '327': 156, '258': 157, '12': 158, '306': 159, '129': 160, '146': 161, '144': 162, '251': 163, '121': 164, '32': 165, '195': 166, '98': 167, '137': 168, '290': 169, '84': 170, '227': 171, '135': 172, '186': 173, '313': 174, '157': 175, '162': 176, '303': 177, '145': 178, '301': 179, '31': 180, '75': 181, '11': 182, '312': 183, '105': 184, '305': 185, '335': 186, '299': 187, '18': 188, '237': 189, '136': 190, '229': 191, '314': 192, '120': 193, '263': 194, '275': 195, '228': 196, '330': 197, '16': 198, '315': 199, '214': 200, '141': 201, '286': 202, '19': 203, '62': 204, '281': 205, '226': 206, '118': 207, '163': 208, '100': 209, '307': 210, '63': 211, '316': 212, '65': 213, '139': 214, '128': 215, '278': 216, '22': 217, '177': 218, '304': 219, '310': 220, '270': 221, '187': 222, '151': 223, '30': 224, '66': 225, '210': 226, '225': 227, '119': 228, '224': 229, '267': 230, '332': 231, '90': 232, '208': 233, '170': 234, '69': 235, '14': 236, '308': 237, '331': 238, '123': 239, '280': 240, '115': 241, '166': 242, '51': 243, '156': 244, '127': 245, '20': 246, '110': 247, '44': 248, '50': 249, '140': 250, '285': 251, '193': 252, '211': 253, '324': 254, '309': 255, '76': 256, '41': 257, '56': 258, '185': 259, '17': 260, '93': 261, '49': 262, '272': 263, '67': 264, '197': 265, '264': 266, '97': 267, '15': 268, '48': 269, '103': 270, '244': 271, '287': 272, '178': 273, '38': 274, '39': 275, '279': 276, '265': 277, '79': 278, '150': 279, '212': 280, '169': 281, '239': 282, '83': 283, '196': 284, '243': 285, '181': 286, '132': 287, '190': 288, '284': 289, '71': 290, '68': 291, '33': 292, '282': 293, '194': 294, '160': 295, '10': 296, '52': 297, '131': 298, '191': 299, '276': 300, '101': 301, '122': 302, '273': 303, '94': 304, '184': 305, '143': 306, '114': 307, '102': 308, '325': 309, '117': 310, '37': 311, '96': 312, '180': 313, '70': 314, '269': 315, '283': 316, '213': 317, '42': 318, '92': 319, '142': 320, '78': 321, '274': 322, '152': 323, '266': 324, '59': 325, '268': 326, '95': 327, '91': 328, '7': 329, '198': 330, '199': 331, '153': 332}

In [36]:
import pickle

pickle.dump(industry_dict, open('/DATA/zhouyongyu/taac/industry_dict.txt', 'wb'))

## product_category

In [41]:
from tqdm import tqdm

category_count = 1
category_dict = dict()
category_dict[-1] = 0
for index, row in tqdm(train_category_seq.iterrows()):
    category_seq = row['product_category']
    if len(category_seq) >= 89:
        category_seq = category_seq[-89:]
    for category in category_seq:
        if category not in category_dict:
            category_dict[category] = category_count
            category_count += 1

900000it [02:03, 7290.22it/s]

In [42]:
for index, row in tqdm(test_category_seq.iterrows()):
    category_seq = row['product_category']
    if len(category_seq) >= 89:
        category_seq = category_seq[-89:]
    for category in category_seq:
        if category not in category_dict:
            category_dict[category] = category_count
            category_count += 1

1000000it [02:16, 7309.53it/s]

In [54]:
print(category_dict)

{-1: 0, 5: 1, 2: 2, 18: 3, 8: 4, 17: 5, 12: 6, 4: 7, 7: 8, 3: 9, 13: 10, 16: 11, 9: 12, 6: 13, 1: 14, 11: 15, 15: 16, 14: 17, 10: 18}

In [58]:
import pickle

pickle.dump(category_dict, open('/DATA/zhouyongyu/taac/category_dict.txt', 'wb'))

# 划分训练集和测试集

In [37]:
import pandas as pd

user_df = pd.read_csv('/DATA/zhouyongyu/taac/dataset/train_preliminary/user.csv')

train_creative_seq = pd.read_csv('/DATA/zhouyongyu/taac/user_creative_seq.csv')
train_ad_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_ad_seq.csv')
train_advertiser_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_advertiser_seq.csv')
train_times_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_times_seq.csv')
train_product_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_product_seq.csv')
train_category_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_category_seq.csv')
train_industry_seq = pd.read_csv('/DATA/zhouyongyu/taac/train_industry_seq.csv')

In [40]:
merge_df = pd.merge(train_creative_seq, train_ad_seq, how='left', on=['user_id'])
merge_df = pd.merge(merge_df, train_advertiser_seq, how='left', on=['user_id'])
merge_df = pd.merge(merge_df, train_times_seq, how='left', on=['user_id'])
merge_df = pd.merge(merge_df, train_product_seq, how='left', on=['user_id'])
merge_df = pd.merge(merge_df, train_category_seq, how='left', on=['user_id'])
merge_df = pd.merge(merge_df, train_industry_seq, how='left', on=['user_id'])

In [41]:
merge_df.head()

,user_id,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry
0,1,"[877468, 821396, 209778, 1683713, 122032, 7169...","[773445, 724607, 188507, 1458878, 109959, 6621...","[29455, 7293, 9702, 14668, 11411, 14681, 17189...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","['\\N', '\\N', '136', '\\N', '1334', '\\N', '\...","[5, 5, 2, 5, 2, 18, 5, 5, 18, 2, 2, 2, 2]","['106', '326', '6', '326', '\\N', '326', '73',..."
1,2,"[63441, 155822, 39714, 609050, 13069, 1266180,...","[58788, 139702, 38066, 541125, 14495, 1107111,...","[22885, 10686, 18562, 25932, 768, 34505, 22885...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['87', '80', '129', '129', '1400', '\\N', '87'...","[2, 2, 2, 2, 2, 18, 2, 18, 2, 18, 2, 18, 2, 18...","['318', '238', '6', '6', '317', '47', '318', '..."
2,3,"[661347, 808612, 710859, 825434, 593522, 72694...","[586668, 713448, 629278, 728308, 527601, 64310...","[32974, 9877, 18492, 14186, 17018, 9058, 8371,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['36256', '40905', '1674', '35985', '1674', '\...","[17, 17, 2, 17, 2, 18, 18, 2, 2, 2, 18, 12, 2,...","['\\N', '\\N', '322', '\\N', '322', '6', '54',..."
3,4,"[39588, 589886, 574787, 1892854, 31070, 196270...","[37966, 524312, 511235, 1638619, 30773, 169820...","[19451, 7976, 13084, 12130, 13299, 23664, 1017...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['1862', '\\N', '2625', '38743', '39422', '412...","[2, 18, 2, 17, 17, 17, 17, 4, 18, 2, 2, 2, 2, ...","['238', '25', '248', '\\N', '\\N', '\\N', '\\N..."
4,5,"[296145, 350759, 24333, 43235, 852327, 1054434...","[265971, 314795, 24966, 41148, 751113, 925792,...","[11882, 992, 22885, 9706, 38760, 2862, 17745, ...","[1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['\\N', '\\N', '87', '136', '\\N', '136', '\\N...","[5, 8, 2, 2, 18, 2, 5, 18, 18, 2, 18, 2, 5, 5,...","['297', '\\N', '318', '6', '322', '6', '288', ..."

In [42]:
merge_df = pd.merge(merge_df, user_df, how='left', on=['user_id'])

In [43]:
merge_df.head()

,user_id,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry,age,gender
0,1,"[877468, 821396, 209778, 1683713, 122032, 7169...","[773445, 724607, 188507, 1458878, 109959, 6621...","[29455, 7293, 9702, 14668, 11411, 14681, 17189...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","['\\N', '\\N', '136', '\\N', '1334', '\\N', '\...","[5, 5, 2, 5, 2, 18, 5, 5, 18, 2, 2, 2, 2]","['106', '326', '6', '326', '\\N', '326', '73',...",4,1
1,2,"[63441, 155822, 39714, 609050, 13069, 1266180,...","[58788, 139702, 38066, 541125, 14495, 1107111,...","[22885, 10686, 18562, 25932, 768, 34505, 22885...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['87', '80', '129', '129', '1400', '\\N', '87'...","[2, 2, 2, 2, 2, 18, 2, 18, 2, 18, 2, 18, 2, 18...","['318', '238', '6', '6', '317', '47', '318', '...",10,1
2,3,"[661347, 808612, 710859, 825434, 593522, 72694...","[586668, 713448, 629278, 728308, 527601, 64310...","[32974, 9877, 18492, 14186, 17018, 9058, 8371,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['36256', '40905', '1674', '35985', '1674', '\...","[17, 17, 2, 17, 2, 18, 18, 2, 2, 2, 18, 12, 2,...","['\\N', '\\N', '322', '\\N', '322', '6', '54',...",7,2
3,4,"[39588, 589886, 574787, 1892854, 31070, 196270...","[37966, 524312, 511235, 1638619, 30773, 169820...","[19451, 7976, 13084, 12130, 13299, 23664, 1017...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['1862', '\\N', '2625', '38743', '39422', '412...","[2, 18, 2, 17, 17, 17, 17, 4, 18, 2, 2, 2, 2, ...","['238', '25', '248', '\\N', '\\N', '\\N', '\\N...",5,1
4,5,"[296145, 350759, 24333, 43235, 852327, 1054434...","[265971, 314795, 24966, 41148, 751113, 925792,...","[11882, 992, 22885, 9706, 38760, 2862, 17745, ...","[1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['\\N', '\\N', '87', '136', '\\N', '136', '\\N...","[5, 8, 2, 2, 18, 2, 5, 18, 18, 2, 18, 2, 5, 5,...","['297', '\\N', '318', '6', '322', '6', '288', ...",4,1

In [48]:
from ast import literal_eval
def hh(q, item_dict, length):
    q = literal_eval(q)
#     print(q)
    if len(q) < length:
        return [item_dict[x] for x in q] + [0]*(length-len(q))
    else:
        return [item_dict[x] for x in q[-length:]]

In [46]:
import pickle
fp = open("/DATA/zhouyongyu/taac/creative_dict.txt", "rb+")
creative_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/ad_dict.txt", "rb+")
ad_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/advertiser_dict.txt", "rb+")
advertiser_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/times_dict.txt", "rb+")
times_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/product_dict.txt", "rb+")
product_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/category_dict.txt", "rb+")
category_dict = pickle.load(fp)

fp = open("/DATA/zhouyongyu/taac/industry_dict.txt", "rb+")
industry_dict = pickle.load(fp)

In [49]:
merge_df["creative_id"]=merge_df["creative_id"].apply(hh, args = (creative_dict,89,))

In [50]:
merge_df["ad_id"]=merge_df["ad_id"].apply(hh, args = (ad_dict,89,))

In [51]:
merge_df["advertiser_id"]=merge_df["advertiser_id"].apply(hh, args = (advertiser_dict,89,))

In [52]:
merge_df["click_times"]=merge_df["click_times"].apply(hh, args = (times_dict,89,))
merge_df["product_id"]=merge_df["product_id"].apply(hh, args = (product_dict,89,))
merge_df["product_category"]=merge_df["product_category"].apply(hh, args = (category_dict,89,))
merge_df["industry"]=merge_df["industry"].apply(hh, args = (industry_dict,89,))

In [53]:
merge_df.head()

,user_id,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry,age,gender
0,1,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 10, 12, 0,...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 10, 12, 0,...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 10, 12, 0,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 0, 0, ...","[1, 1, 2, 1, 3, 1, 1, 1, 1, 4, 5, 4, 6, 0, 0, ...","[1, 1, 2, 1, 2, 3, 1, 1, 3, 2, 2, 2, 2, 0, 0, ...","[1, 2, 3, 2, 4, 2, 5, 6, 7, 8, 9, 8, 3, 0, 0, ...",4,1
1,2,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 13, 19, 20, 21, 22, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[7, 8, 9, 9, 10, 1, 7, 1, 6, 1, 11, 1, 9, 1, 1...","[2, 2, 2, 2, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 3, ...","[10, 9, 3, 3, 11, 12, 10, 12, 3, 12, 13, 3, 3,...",10,1
2,3,"[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 6...","[55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 6...","[48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 5...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[25, 26, 27, 28, 27, 1, 1, 29, 30, 31, 1, 1, 3...","[5, 5, 2, 5, 2, 3, 3, 2, 2, 2, 3, 6, 2, 2, 3, ...","[4, 4, 17, 4, 17, 3, 23, 3, 17, 17, 24, 25, 17...",7,2
3,4,"[85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 9...","[85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 9...","[75, 76, 77, 78, 79, 80, 81, 82, 83, 31, 84, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[40, 1, 41, 42, 43, 44, 45, 46, 1, 14, 19, 9, ...","[2, 3, 2, 5, 5, 5, 5, 7, 3, 2, 2, 2, 2, 2, 2, ...","[9, 27, 28, 4, 4, 4, 4, 4, 29, 16, 9, 3, 16, 9...",5,1
4,5,"[114, 115, 116, 117, 118, 119, 120, 121, 122, ...","[114, 115, 116, 117, 118, 119, 120, 121, 122, ...","[97, 98, 13, 99, 100, 101, 102, 103, 104, 105,...","[1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 7, 2, 1, 2, 1, 1, 1, 17, 1, 52, 1, 1, 2...","[1, 4, 2, 2, 3, 2, 1, 3, 3, 2, 3, 2, 1, 1, 2, ...","[31, 4, 10, 3, 17, 3, 32, 17, 16, 9, 17, 17, 3...",4,1

In [54]:
merge_df.to_csv('/DATA/zhouyongyu/taac/pad_merge_df_7_input.csv', index=0)

In [58]:
from sklearn.utils import shuffle
merge_df = shuffle(merge_df)

In [59]:
col_n = ['creative_id', 'ad_id', 'advertiser_id', 'click_times', 'product_id', 'product_category', 'industry', 'gender', 'age']
col_df = pd.DataFrame(merge_df,columns = col_n)
col_df.head()

,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry,gender,age
718653,"[44686, 403879, 17, 3744, 27160, 85685, 35265,...","[44056, 19721, 17, 3720, 26850, 84191, 34818, ...","[277, 125, 17, 140, 4877, 1254, 548, 1186, 363...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[6, 1, 10, 1, 62, 148, 1, 1, 35, 17, 1, 1010, ...","[2, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 9, 3, 2, 2, ...","[3, 16, 11, 23, 19, 9, 26, 16, 17, 13, 16, 26,...",1,4
652559,"[642194, 66653, 450, 7503, 290876, 2028319, 31...","[617765, 65587, 449, 7448, 283127, 1090949, 30...","[33, 411, 327, 411, 468, 3705, 2782, 297, 358,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 6, 6, 6, 3, 53, 1, 6, 138, 6, 6, 1, 1, 53,...","[3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 3, 2, 2, ...","[15, 3, 3, 3, 11, 13, 23, 3, 26, 3, 3, 3, 26, ...",1,1
584047,"[97007, 1378, 6126, 4242, 54193, 6705, 56931, ...","[95249, 1374, 6087, 4218, 53389, 6660, 56072, ...","[2232, 6, 1007, 6, 2585, 812, 3654, 812, 812, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 525, 14, 1, 14, 14, 6, 1, 27, 1, ...","[3, 3, 3, 3, 2, 2, 3, 2, 2, 2, 1, 2, 1, 2, 2, ...","[15, 31, 17, 57, 101, 16, 86, 16, 16, 3, 18, 1...",1,3
305808,"[911113, 3242, 18357, 47216, 4186, 86394, 807,...","[869402, 3222, 18172, 3468, 4162, 84881, 805, ...","[2799, 1174, 1764, 140, 6, 955, 140, 485, 153,...","[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, ...","[1, 1, 1, 1, 1, 203, 1, 1, 1, 421, 1, 1, 1, 1,...","[3, 6, 1, 3, 3, 5, 6, 6, 6, 2, 6, 6, 3, 6, 7, ...","[96, 23, 18, 23, 31, 4, 23, 23, 57, 28, 3, 23,...",1,6
79155,"[1310, 23696, 233095, 613248, 301907, 103575, ...","[1306, 23437, 227433, 590418, 293776, 101667, ...","[468, 2963, 1476, 1141, 218, 70, 11934, 1237, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[3, 998, 62, 415, 97, 36, 4280, 441, 170, 298,...","[2, 10, 2, 2, 2, 2, 10, 2, 2, 2, 2, 4, 2, 3, 2...","[11, 26, 19, 17, 58, 17, 26, 17, 90, 21, 58, 1...",1,6

In [60]:
import math
n_train = int(math.ceil(len(col_df) * (1. - 0.05)))

In [61]:
train_df = col_df[:n_train]
test_df = col_df[n_train:]

In [62]:
train_creative_str = train_df['creative_id'].tolist()
train_creative = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_creative.append(item)

test_creative_str = test_df['creative_id'].tolist()
test_creative = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_creative.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1594030.35it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1819479.25it/s]

In [63]:
train_creative_str = train_df['ad_id'].tolist()
train_ad = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_ad.append(item)

test_creative_str = test_df['ad_id'].tolist()
test_ad = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_ad.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1582452.41it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1823628.05it/s]

In [64]:
train_creative_str = train_df['advertiser_id'].tolist()
train_advertiser = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_advertiser.append(item)

test_creative_str = test_df['advertiser_id'].tolist()
test_advertiser = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_advertiser.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1554042.37it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1882223.04it/s]

In [65]:
train_creative_str = train_df['click_times'].tolist()
train_times = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_times.append(item)

test_creative_str = test_df['click_times'].tolist()
test_times = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_times.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1592868.47it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1713561.69it/s]

In [72]:
train_creative_str = train_df['product_id'].tolist()
train_product = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_product.append(item)

test_creative_str = test_df['product_id'].tolist()
test_product = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_product.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1721629.39it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1809657.71it/s]

In [67]:
train_creative_str = train_df['product_category'].tolist()
train_category = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_category.append(item)

test_creative_str = test_df['product_category'].tolist()
test_category = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_category.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1596636.38it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1816187.75it/s]

In [68]:
train_creative_str = train_df['industry'].tolist()
train_industry = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(train_creative_str):
#     train_creative.append(literal_eval(item))
    train_industry.append(item)

test_creative_str = test_df['industry'].tolist()
test_industry = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(test_creative_str):
#     test_creative.append(literal_eval(item))
    test_industry.append(item)

100%|██████████| 855000/855000 [00:00<00:00, 1004252.92it/s]
100%|██████████| 45000/45000 [00:00<00:00, 1143298.26it/s]

In [69]:
train_gender = train_df['gender'].tolist()
train_age = train_df['age'].tolist()
test_gender = test_df['gender'].tolist()
test_age = test_df['age'].tolist()

In [114]:
train_mask = []
for input in tqdm(train_creative):
    train_mask.append([1 if item != 0 else 0 for item in input])
    
test_mask = []
for input in tqdm(test_creative):
    test_mask.append([1 if item != 0 else 0 for item in input])

100%|██████████| 855000/855000 [00:06<00:00, 127533.86it/s]
100%|██████████| 45000/45000 [00:00<00:00, 129123.49it/s]

In [115]:
pickle.dump((train_creative, train_ad, train_advertiser, train_times, train_product, train_category, train_industry, train_mask, train_gender, train_age), open('/DATA/zhouyongyu/taac/train_95_7_input.txt', 'wb'))
pickle.dump((test_creative, test_ad, test_advertiser, test_times, test_product, test_category, test_industry, test_mask, test_gender, test_age), open('/DATA/zhouyongyu/taac/test_95_7_input.txt', 'wb'))

# 转换预训练word2vec向量

In [75]:
import gensim

## creative

In [124]:
creative_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/creative_300_w150') # 读取词向量
print(creative_model)

Word2Vec(vocab=3412772, size=300, alpha=0.025)

In [125]:
inverse_creative_dict = {v: k for k, v in creative_dict.items()}

In [126]:
import torch
vocab_size = len(inverse_creative_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_creative_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = creative_model[str(inverse_creative_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/3257690 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 3257690/3257690 [01:09<00:00, 46774.27it/s]

In [127]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_creative300.txt', 'wb'))

## ad

In [128]:
ad_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/ad_300') # 读取词向量
print(ad_model)

Word2Vec(vocab=3027360, size=300, alpha=0.025)

In [129]:
inverse_ad_dict = {v: k for k, v in ad_dict.items()}

In [130]:
import torch
vocab_size = len(inverse_ad_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_ad_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = ad_model[str(inverse_ad_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/2900020 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 2900020/2900020 [01:03<00:00, 45708.47it/s]

In [131]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_ad300.txt', 'wb'))

## advertiser

In [132]:
advertiser_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/advertiser_300') # 读取词向量
print(advertiser_model)

Word2Vec(vocab=57870, size=300, alpha=0.025)

In [133]:
inverse_advertiser_dict = {v: k for k, v in advertiser_dict.items()}

In [134]:
import torch
vocab_size = len(inverse_advertiser_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_advertiser_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = advertiser_model[str(inverse_advertiser_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/56986 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 56986/56986 [00:01<00:00, 47904.56it/s]

In [135]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_advertiser300.txt', 'wb'))

## click_times

In [76]:
advertiser_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/times_300') # 读取词向量
print(advertiser_model)

Word2Vec(vocab=94, size=300, alpha=0.025)

In [77]:
inverse_advertiser_dict = {v: k for k, v in times_dict.items()}

In [78]:
import torch
vocab_size = len(inverse_advertiser_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_advertiser_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = advertiser_model[str(inverse_advertiser_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/47 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 47/47 [00:00<00:00, 3156.89it/s]

In [79]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_times300.txt', 'wb'))

## product

In [106]:
advertiser_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/product_300') # 读取词向量
print(advertiser_model)

Word2Vec(vocab=39057, size=300, alpha=0.025)

In [107]:
inverse_advertiser_dict = {v: k for k, v in product_dict.items()}

In [108]:
import torch
vocab_size = len(inverse_advertiser_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_advertiser_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = advertiser_model[str(inverse_advertiser_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/38131 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 38131/38131 [00:01<00:00, 36553.68it/s]

In [109]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_product300.txt', 'wb'))

## category

In [80]:
advertiser_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/category_300') # 读取词向量
print(advertiser_model)

Word2Vec(vocab=18, size=300, alpha=0.025)

In [81]:
inverse_advertiser_dict = {v: k for k, v in category_dict.items()}

In [82]:
import torch
vocab_size = len(inverse_advertiser_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_advertiser_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = advertiser_model[str(inverse_advertiser_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/19 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 19/19 [00:00<00:00, 9802.19it/s]

In [83]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_category300.txt', 'wb'))

## industry

In [110]:
advertiser_model = gensim.models.Word2Vec.load('/DATA/zhouyongyu/model_save/w2v_model/industry_300') # 读取词向量
print(advertiser_model)

Word2Vec(vocab=332, size=300, alpha=0.025)

In [111]:
inverse_advertiser_dict = {v: k for k, v in industry_dict.items()}

In [112]:
import torch
vocab_size = len(inverse_advertiser_dict)
embed_size = 300
weight = torch.zeros(vocab_size, embed_size)

from tqdm import tqdm

count = 0
for key in tqdm(inverse_advertiser_dict):
    count += 1
#     if count>=10:
#         break
    try:
        emb = advertiser_model[str(inverse_advertiser_dict[key])]
#         print(emb)
        weight[key,:] = torch.from_numpy(emb)
    except:
        pass

  0%|          | 0/333 [00:00<?, ?it/s]/DATA/jipengfei/anaconda3/envs/zyy/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

100%|██████████| 333/333 [00:00<00:00, 18053.89it/s]

In [113]:
pickle.dump(weight, open('/DATA/zhouyongyu/taac/weight_tensor_industry300.txt', 'wb'))

# 构建预测数据

In [84]:
import pandas as pd

In [85]:
test_creative_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_creative_seq.csv')

In [86]:
test_ad_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_ad_seq.csv')
test_advertiser_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_advertiser_seq.csv')
test_times_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_times_seq.csv')
test_product_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_product_seq.csv')
test_category_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_category_seq.csv')
test_industry_seq = pd.read_csv('/DATA/zhouyongyu/taac/test_industry_seq.csv')

In [89]:
predict_merge_df = pd.merge(test_creative_seq, test_ad_seq, how='left', on=['user_id'])
predict_merge_df = pd.merge(predict_merge_df, test_advertiser_seq, how='left', on=['user_id'])
predict_merge_df = pd.merge(predict_merge_df, test_times_seq, how='left', on=['user_id'])
predict_merge_df = pd.merge(predict_merge_df, test_product_seq, how='left', on=['user_id'])
predict_merge_df = pd.merge(predict_merge_df, test_category_seq, how='left', on=['user_id'])
predict_merge_df = pd.merge(predict_merge_df, test_industry_seq, how='left', on=['user_id'])

In [90]:
predict_merge_df.head()

,user_id,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry
0,3000001,"[351878, 665090, 103064, 593698, 1508864, 1711...","[315858, 589862, 93662, 527764, 1312021, 14823...","[7579, 7000, 13084, 9950, 39179, 32735, 17963,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","['\\N', '1701', '1794', '8938', '\\N', '27031'...","[18, 2, 2, 3, 18, 3, 3, 18, 18, 5, 18]","['322', '247', '248', '247', '322', '317', '32..."
1,3000002,"[152519, 151984, 12838, 176984, 72773, 64667, ...","[136730, 136259, 14271, 158762, 67139, 59874, ...","[12993, 27800, 10690, 24661, 10334, 10334, 132...","[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...","['1674', '\\N', '140', '1687', '1377', '1377',...","[2, 18, 2, 2, 2, 2, 2, 2, 2, 2, 8, 2, 5, 8, 2,...","['322', '24', '317', '5', '5', '5', '317', '31..."
2,3000003,"[161840, 73137, 115761, 36634, 367084, 150407,...","[145199, 67477, 104623, 35431, 331464, 134931,...","[22367, 22367, 25260, 22338, 40491, 18479, 146...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['82', '82', '\\N', '2065', '34504', '\\N', '\...","[2, 2, 18, 2, 5, 18, 18, 2, 2, 5, 18, 18, 2, 1...","['319', '319', '47', '238', '202', '25', '326'..."
3,3000004,"[108656, 849706, 678427, 9870, 157180, 94025, ...","[98506, 748945, 601456, 11324, 140916, 85594, ...","[8520, 28323, 2286, 818, 2302, 8520, 8371, 230...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","['1036', '\\N', '\\N', '1323', '1268', '1036',...","[2, 18, 18, 2, 2, 2, 18, 2, 2, 18, 18, 2, 2, 5...","['319', '40', '54', '319', '5', '319', '54', '..."
4,3000005,"[123860, 183003, 40625, 26793, 71219, 259607, ...","[111593, 164114, 38229, 27193, 65782, 233585, ...","[30710, 29243, 23746, 22388, 6763, 21001, 2654...","[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...","['1896', '1987', '129', '\\N', '\\N', '1538', ...","[2, 2, 2, 18, 18, 2, 2, 2, 2, 18, 18, 2, 2, 2,...","['238', '26', '6', '25', '28', '6', '319', '6'..."

In [92]:
from ast import literal_eval
def hh(q, item_dict, length):
    q = literal_eval(q)
#     print(q)
    if len(q) < length:
        return [item_dict[x] for x in q] + [0]*(length-len(q))
    else:
        return [item_dict[x] for x in q[-length:]]

In [93]:
predict_merge_df["creative_id"]=predict_merge_df["creative_id"].apply(hh, args = (creative_dict,89,))
predict_merge_df["ad_id"]=predict_merge_df["ad_id"].apply(hh, args = (ad_dict,89,))
predict_merge_df["advertiser_id"]=predict_merge_df["advertiser_id"].apply(hh, args = (advertiser_dict,89,))

In [94]:
predict_merge_df["click_times"]=predict_merge_df["click_times"].apply(hh, args = (times_dict,89,))
predict_merge_df["product_id"]=predict_merge_df["product_id"].apply(hh, args = (product_dict,89,))
predict_merge_df["product_category"]=predict_merge_df["product_category"].apply(hh, args = (category_dict,89,))
predict_merge_df["industry"]=predict_merge_df["industry"].apply(hh, args = (industry_dict,89,))

In [95]:
predict_merge_df.head()

,user_id,creative_id,ad_id,advertiser_id,click_times,product_id,product_category,industry
0,3000001,"[682852, 66840, 6632, 39833, 29629, 26034, 499...","[656077, 65771, 6588, 39305, 29287, 25739, 491...","[3294, 1165, 77, 8398, 1023, 529, 2135, 1023, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ...","[1, 637, 421, 2881, 1, 200, 594, 1, 1, 3600, 1...","[3, 2, 2, 9, 3, 9, 9, 3, 3, 1, 3, 0, 0, 0, 0, ...","[17, 26, 28, 26, 17, 11, 17, 17, 17, 32, 17, 0..."
1,3000002,"[16307, 283417, 1281, 9890, 447, 1277, 1414, 5...","[16144, 275963, 1277, 9806, 446, 1273, 1410, 5...","[900, 5201, 777, 699, 325, 325, 768, 13, 777, ...","[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...","[27, 1, 286, 256, 126, 126, 123, 7, 286, 126, ...","[2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 1, 4, 2, ...","[17, 62, 11, 14, 14, 14, 11, 10, 11, 14, 22, 1..."
2,3000003,"[105697, 24040, 9562, 8816, 452070, 467673, 78...","[103739, 23776, 9485, 8748, 437465, 452353, 75...","[387, 387, 26, 3286, 9864, 5359, 6, 1275, 15, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[150, 150, 1, 19, 3436, 1, 1, 454, 9, 1, 1, 1,...","[2, 2, 3, 2, 1, 3, 3, 2, 2, 1, 3, 3, 2, 3, 3, ...","[16, 16, 12, 9, 53, 27, 2, 9, 3, 161, 35, 37, ..."
3,3000004,"[3727, 650376, 96551, 15307, 29, 80097, 75217,...","[3703, 625495, 94806, 15156, 29, 2524, 73957, ...","[123, 1142, 1425, 44, 28, 123, 54, 28, 2390, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[54, 1, 1, 22, 12, 54, 1, 12, 66, 1, 1, 95, 88...","[2, 3, 3, 2, 2, 2, 3, 2, 2, 3, 3, 2, 2, 1, 3, ...","[16, 80, 23, 16, 14, 16, 23, 14, 49, 12, 12, 1..."
4,3000005,"[43718, 458791, 384, 179624, 263779, 3525, 317...","[43101, 443876, 383, 175650, 257087, 3501, 308...","[420, 6984, 286, 3907, 595, 1668, 1690, 10707,...","[1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...","[160, 1526, 9, 1, 1, 497, 33, 96, 96, 1, 1, 16...","[2, 2, 2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, ...","[9, 58, 3, 27, 37, 3, 16, 3, 3, 61, 27, 26, 26..."

In [96]:
predict_creative_str = predict_merge_df['creative_id'].tolist()
# print(test_input_str[:5])
predict_creative = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_creative_str):
    predict_creative.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1926305.11it/s]

In [97]:
predict_ad_str = predict_merge_df['ad_id'].tolist()
# print(test_input_str[:5])
predict_ad = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_ad_str):
    predict_ad.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1916217.04it/s]

In [98]:
predict_advertiser_str = predict_merge_df['advertiser_id'].tolist()
# print(test_input_str[:5])
predict_advertiser = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_advertiser_str):
    predict_advertiser.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1901953.56it/s]

In [99]:
predict_advertiser_str = predict_merge_df['click_times'].tolist()
# print(test_input_str[:5])
predict_times = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_advertiser_str):
    predict_times.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1926341.38it/s]

In [100]:
predict_advertiser_str = predict_merge_df['product_id'].tolist()
# print(test_input_str[:5])
predict_product = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_advertiser_str):
    predict_product.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1921960.50it/s]

In [101]:
predict_advertiser_str = predict_merge_df['product_category'].tolist()
# print(test_input_str[:5])
predict_category = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_advertiser_str):
    predict_category.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1919040.13it/s]

In [102]:
predict_advertiser_str = predict_merge_df['industry'].tolist()
# print(test_input_str[:5])
predict_industry = []
from ast import literal_eval
from tqdm import tqdm
for item in tqdm(predict_advertiser_str):
    predict_industry.append(item)

100%|██████████| 1000000/1000000 [00:00<00:00, 1896697.62it/s]

In [103]:
predict_mask = []
for input in tqdm(predict_creative):
    predict_mask.append([1 if item != 0 else 0 for item in input])

100%|██████████| 1000000/1000000 [00:08<00:00, 111216.43it/s]

In [104]:
predict_user = predict_merge_df['user_id'].tolist()

In [105]:
pickle.dump((predict_creative, predict_ad, predict_advertiser, predict_times, predict_product, predict_category, predict_industry, predict_mask,  predict_user), open('/DATA/zhouyongyu/taac/predict_7_input.txt', 'wb'))